<ion-header>
    <ion-toolbar>
        <ion-title>About Us</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
            <ion-card-title>Hi! We are the Developers</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>

    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>

        <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>

        <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>

        <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="Home" routerLink="/home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="Build" routerLink="/build-pc">
            <ion-icon name="build-outline"></ion-icon>
            <ion-label>Build</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="Calculator" routerLink="/calculator">
            <ion-icon name="calculator-outline"></ion-icon>
            <ion-label>Bottleneck Calculator</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="about" routerLink="/about">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>About</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>