<ion-header>
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content scroll="true">
    <ion-card>
        <img alt="Silhouette of mountains" src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/1_-_Cover.max-1000x1000.png" />
        <ion-card-header>
            <ion-card-title>Google is on Failed Privacy?</ion-card-title>
            <ion-card-subtitle>Google execs knew 'Incognito mode' failed to protect privacy, suit claims</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            Click more to see....
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Apple VP Confirms IPhone will shift to USB-C</ion-card-title>
            <ion-card-subtitle>By Johnny Evans</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            Click more to see....
        </ion-card-content>
    </ion-card>
    <ion-card>
        <img alt="Silhouette of mountains" src="https://learn.g2.com/hubfs/What_is_Information_Technology.jpg" />
        <ion-card-header>
            <ion-card-title>IT on Development?</ion-card-title>
            <ion-card-subtitle>IT spending to grow, as companies use tech to battle expected recession</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            Click more to see...
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="Home" routerLink="/home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="Build" routerLink="/build-pc">
            <ion-icon name="build-outline"></ion-icon>
            <ion-label>Build</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="Calculator" routerLink="/calculator">
            <ion-icon name="calculator-outline"></ion-icon>
            <ion-label>Bottleneck Calculator</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="about" routerLink="/about">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>About</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>